.avatar_container {
    display: flex;
    justify-content: flex-start;

    align-items: center;
    padding-bottom: 5px;
}

.avatar__text {
    margin: 0;
    margin-left: 20px;
}

.projects_list {
    display: flex;   
    justify-content: flex-start;
    flex-wrap: wrap;
    gap: 10px;
    margin-bottom: 20px;
}